body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.page-header {
    text-align: center;
    margin-top: 20px;
}

#canvasWrapper {
    text-align: center;
}

#gameCanvas {
    border: 1px solid #000;
}

#optionWrapper {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.applyTheme {
    margin-bottom: 10px;
    width: 100%;
}
